/* Common */
.container{width:1140px;margin:0 auto;}


/* Header */
header{height:90px;width:100%;}
	header .gutter{padding:23px 76px 0 0;}
	header #logo{float:right;}


/* Home */
.work-row{height:296px;margin:0 0 6px;display:block;float:left;}
	.work-link{float:left;display:block;}
	.work-entry{float:left;display:inline-block;height:100%;position:relative;margin:0 2px;}
		.work-image{height:100%;display:inline-block;padding:0;position:relative;z-index:1;}
			.work-image > img{height:100%;width:auto;}

		.work-overlay{display:none;position:absolute;z-index:2;top:0;bottom:0;background:#fff;border:4px solid #ffd881;width:97.5%;}
		.work-entry:hover > .work-overlay{display:block;}
			.work-overlay .gutter{padding:19px 23px;}

	/* Scrollable */
	#scrollableArea{width:100%;height:600px;position: relative;}
		#scrollableArea.max{width:200000em;}


	div.scrollingHotSpotLeft {min-width:75px;width:10%;height:100%;background-image:url(../images/big_transparent.gif);background-repeat:repeat;background-position:center center;position:absolute;z-index:200;left:0;}

	div.scrollingHotSpotLeftVisible {background-color:#fff;background-repeat:no-repeat;opacity:.35;-moz-opacity:.35;filter:alpha(opacity = 35);zoom:1;}

	div.scrollingHotSpotRight {min-width:75px;width:10%;height:100%;background-image:url(../images/big_transparent.gif);background-repeat:repeat;background-position:center center;position:absolute;z-index:200;right:0;display:none;}

	div.scrollingHotSpotRightVisible {background-color:#fff;background-repeat:no-repeat;opacity:.35;filter:alpha(opacity = 35);-moz-opacity:.35;zoom:1;}

	div.scrollWrapper {position:relative;overflow:hidden;width:100%;height:100%;}

	div.scrollableArea {position:relative;width:auto;height:100%;margin:0 auto;}


	.scrollingHotSpotLeft,
	.scrollingHotSpotRight{display:none;}

	#scrollableArea:hover .scrollingHotSpotLeft,
	#scrollableArea:hover .scrollingHotSpotRight{display:block !important;}


/* Single-Work */
#work-resp{width:810px;margin:0 auto;position:relative;}
#work-single{width:100%;float:left;height:100%;overflow-x: hidden;height:750px;}
	#work-single > .container{position:relative;z-index:2;height:600px;width:940px;}
	#work-single .prev-arrow{position:absolute;top:50%;left:0;height:68px;width:30px;background:url(../img/arrows.png) 0 0 no-repeat;}
	#work-single .next-arrow{position:absolute;top:50%;right:0;height:68px;width:30px;background:url(../img/arrows.png) -30px 0 no-repeat;}
		#work-single .next-arrow:hover, #work-single .prev-arrow:hover{cursor:pointer;}

	#work-slides{width:2430px;min-height:700px;float:left;position:absolute;z-index:1;left:-810px;}

	#work-single #work-prev, #work-single #work-curr, #work-single #work-next{width:810px;float:left;}
	#work-single #work-prev{}
	#work-single #work-curr{}
	#work-single #work-next{}

	#work-single .work-single-image{height:100%;display:table;width:auto;margin:0 auto;}
		.work-single-image img{max-width:100%;max-height:600px;height:auto;width:auto;}
	#work-single .work-single-info{display:none;}
		#work-single #work-curr .work-single-info{display:block;}
		.work-single-info .work-single-title{font-weight: bold;font-size: 10px;text-transform: uppercase;margin: 7px 0 4px;display: block;}
		.work-single-info .work-single-meta p{font-size: 10px;margin: 0;line-height: 14px;}

/* Footer */
footer{}
	footer .gutter{padding:47px 35px;}
	footer nav{}
	footer nav ul{float: left;width: 64px;position: relative;height:81px;}
	footer nav ul li{text-transform: uppercase;font-size: 12px;font-weight: bold;border: 2px solid #606478;float: left;display: block;clear: both;letter-spacing: 0.2em;}
		footer nav ul li.work{}
			footer nav ul li.work a{padding: 4px 3px 6px 9px;}
		footer nav ul li.bio{position: absolute;top: 28px;right: -41px;}
			footer nav ul li.bio a{padding: 3px 4px 4px 8px;}
			footer nav ul li.bio:before{content: '';position: absolute;height: 105%;background: #606478;width: 2px;top: 0px;left: -35px;}
		footer nav ul li.cv{position: absolute;bottom: 0;right: 1px;}
			footer nav ul li.cv a{padding: 2px 4px 5px 6px;}
	footer nav ul li a{color:#606478;display:block;}
		footer nav ul li:hover a{color:#fff;background:#606478;}